bc-manager/src/main/java/service.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="eu.chorevolution.vsb.bindingcomponent.generated" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="eu.chorevolution.vsb.bindingcomponent.generated">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="eu.chorevolution.vsb.bindingcomponent.generated">
            <xs:element name="routeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="arg0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="arg1" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="Itinerary">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="geocoded_waypoints" nillable="true" type="ns:GeocodedWayPoints"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="routes" nillable="true" type="ns:Routes"/>
                    <xs:element minOccurs="0" name="status" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GeocodedWayPoints">
                <xs:sequence>
                    <xs:element minOccurs="0" name="geocoder_status" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="place_id" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="types" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Routes">
                <xs:sequence>
                    <xs:element minOccurs="0" name="bounds" nillable="true" type="ns:Bounds"/>
                    <xs:element minOccurs="0" name="copyrights" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="legs" nillable="true" type="ns:Legs"/>
                    <xs:element minOccurs="0" name="overview_polyline" nillable="true" type="ns:OverviewPolyline"/>
                    <xs:element minOccurs="0" name="summary" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="warnings" nillable="true" type="ns:Warnings"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="waypoint_order" nillable="true" type="ns:WaypointOrder"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Bounds">
                <xs:sequence>
                    <xs:element minOccurs="0" name="northeast" nillable="true" type="ns:Northeast"/>
                    <xs:element minOccurs="0" name="southwest" nillable="true" type="ns:Southwest"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Northeast">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lat" type="xs:double"/>
                    <xs:element minOccurs="0" name="lng" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Southwest">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lat" type="xs:double"/>
                    <xs:element minOccurs="0" name="lng" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Legs">
                <xs:sequence>
                    <xs:element minOccurs="0" name="distance" nillable="true" type="ns:Distance"/>
                    <xs:element minOccurs="0" name="duration" nillable="true" type="ns:Duration"/>
                    <xs:element minOccurs="0" name="end_address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="end_location" nillable="true" type="ns:EndLocation"/>
                    <xs:element minOccurs="0" name="start_address" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="start_location" nillable="true" type="ns:StartLocation"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="steps" nillable="true" type="ns:Steps"/>
                    <xs:element maxOccurs="unbounded" name="traffic_speed_entry" type="xs:double"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="via_waypoint" nillable="true" type="ns:ViaWaypoint"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Distance">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Duration">
                <xs:sequence>
                    <xs:element minOccurs="0" name="text" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="EndLocation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lat" type="xs:double"/>
                    <xs:element minOccurs="0" name="lng" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="StartLocation">
                <xs:sequence>
                    <xs:element minOccurs="0" name="lat" type="xs:double"/>
                    <xs:element minOccurs="0" name="lng" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Steps">
                <xs:sequence>
                    <xs:element minOccurs="0" name="distance" nillable="true" type="ns:Distance"/>
                    <xs:element minOccurs="0" name="duration" nillable="true" type="ns:Duration"/>
                    <xs:element minOccurs="0" name="end_location" nillable="true" type="ns:EndLocation"/>
                    <xs:element minOccurs="0" name="html_instructions" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="maneuver" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="polyline" nillable="true" type="ns:Polyline"/>
                    <xs:element minOccurs="0" name="start_location" nillable="true" type="ns:StartLocation"/>
                    <xs:element minOccurs="0" name="travel_mode" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Polyline">
                <xs:sequence>
                    <xs:element minOccurs="0" name="points" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ViaWaypoint">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="OverviewPolyline">
                <xs:sequence>
                    <xs:element minOccurs="0" name="points" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Warnings">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="WaypointOrder">
                <xs:sequence/>
            </xs:complexType>
            <xs:element name="routeRequestResult" nillable="true" type="ns:Itinerary"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="routeRequestRequestMessage">
        <wsdl:part name="routeRequest" element="ns:routeRequest"/>
    </wsdl:message>
    <wsdl:message name="routeRequestResponseMessage">
        <wsdl:part name="routeRequestResult" element="ns:routeRequestResult"/>
    </wsdl:message>
    <wsdl:portType name="BindingComponent">
        <wsdl:operation name="routeRequest">
            <wsdl:input message="ns:routeRequestRequestMessage" wsaw:Action="urn:routeRequest"/>
            <wsdl:output message="ns:routeRequestResponseMessage" wsaw:Action="urn:routeRequestResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="BindingComponentPortBinding" type="ns:BindingComponent">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="routeRequest">
            <soap:operation soapAction="urn:routeRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="BindingComponent">
        <wsdl:port name="BindingComponentHttpSoap11Endpoint" binding="ns:BindingComponentPortBinding">
            <soap:address location="http://localhost:8888/BindingComponent"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
